<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>hello , {{ .username }}</h1>
    <p>your password in c.postform is : {{ .password }}</p>

    <h1>hello , {{ .username1 }}</h1>
    <p>your password in c.defaultpostform is : {{ .password1 }}</p>

    <h1>hello , {{ .username2 }}</h1>
    <p>your password in c.getpostform is : {{ .password2 }}</p>
    
</body>
</html>